{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for asset in assets %}
            <tr>
                <td class="text-start">{{ asset.symbol }}</td>
                <td class="text-end">{{ asset.shares }}</td>
                <td class="text-end">{{ asset.price }}</td>
                <td class="text-end">{{ asset.transaction_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
